# Build directory
target/
client/target/
server/target/

# Class files
*.class
*.jar

# Include resources
!client/src/main/resources/*.jar
!client/src/test/resources/*.jar
!server/src/main/resources/*.jar
!server/src/test/resources/*.jar

# Backup Files
*~
*.BAK

# Log files
*.log

# Distribution archives
CaseTracker.zip

# Data files
server/data/
